/*Para que las columnas sean del mismo tamaño*/
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.promotions-header{
    font-family: 'Noto Serif','Droid Serif', serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    background-color: #D4D4D4;
    color: #232528;
}
.carousel-control:focus{
    opacity: .5;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.carousel-control .glyphicon-chevron-left{
    margin-left: -60px;
}

.carousel-control .glyphicon-chevron-right{
    margin-right: -60px;
}

.carousel-control.bar-promotions-button{
    color: gray;
}

/*bar-promotions's slider CSS*/
.bar-promotion-slider{
    padding: 20px 40px 30px 40px;
    background-color: #D4D4D4;
    color: #232528;
    font-family: 'Noto Serif','Droid Serif', serif;
}

.bar-promotion-slider .background{
    background-color: white;
}

.bar-promotion-slider .bar-promotion-description{
    padding: 25px;
    background-color: #ebebeb;
}

.bar-promotion-slider .bar-promotion-header{
    font-size: 1.5em;
    font-weight: bold;
}

.bar-promotion-slider .bar-promotion-text{
    margin: 10px 0;
    text-align: justify;
    font-size: 1em;
}

/* Estilo del contacto */
.contact{
    padding: 20px 15px 0 15px;
    background-color: #4F5254;
    font-family: 'Noto Serif','Droid Serif', serif;
    font-weight: bold;
}
.contact i{
    background-color:  #33383b;
    color: #FFFFFF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

/*Modificacion del icono de fax y correo*/
.contact i.fa-envelope,
.contact i.fa-fax{
    font-size: 17px;
    line-height: 38px;
}

.contact p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.contact p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.contact p a{
    color:  goldenrod;
    text-decoration: none;
    font-size: 15px;

}
.enlaces{
    padding: 30px;
    font-size: 25px;
    font-style: italic;
}