.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.first-section{
    margin-top: 0px;
}
.carousel .carousel-inner img {
    width: 100%; /* Set width to 100% */
    max-height: 600px;
    margin: auto;
    min-height:200px;
    /*Chrome*/
    -webkit-filter: contrast(50%);
    /*Firefox*/
    filter: contrast(50%);

}

/* Texto principal para el slider */
.main-text
{
    position: absolute;
    top: 200px;
    width: 100%;
    color: #FFF;
}

/* Estilo para texto del slider*/
.static-welcome{
    font-family: 'Noto Serif','Droid Serif', serif;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

/* Oculta el texto del carrousel */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

/*Estilo para la descripción del hotel*/
.description{
    padding: 65px;
    background-color: white;
    color: #232528;
}

#description-header{
    font-family: 'Noto Serif','Droid Serif', serif;
    font-size: 50px;
    font-weight: bold;
}

#description-text{
    margin: 20px 0px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Noto Serif','Droid Serif', serif;
}

#description-link{
    text-align: left;
    font-family: 'Noto Serif','Droid Serif', serif;
    text-decoration: none;
    color: #232528;
}

#description-link:hover{
    color: goldenrod;
}

/*Estilo para la descripción de los servcios del hotel*/
.characteristics{
    right: 0;
    padding: 26px 25px 25px 60px;
    background-color: #ebebeb;
    font-family: 'Noto Serif','Droid Serif', serif;
    color: #232528;
}

.characteristics .service{
    max-height: 38px;
}
.characteristics i{
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    vertical-align: middle;
}

.characteristics p{
    display: inline-block;
    vertical-align: middle;
    margin:0;
    font-size: 15px;
}

.transition-image{
    top: 0px;
    position: fixed;
    z-index: -1;
    width: 100%;
}

/*CSS para las segunda parte de la pagina*/
.second-section{
    margin-top: 300px;
}

.second-section .rooms-header{
    font-family: 'Noto Serif','Droid Serif', serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    padding: 40px 0px;
    background-color: white;
    color: #232528;
}

/*CSS para las habitaciones*/
.room{
    padding: 30px 30px 0px 30px;
    background-color: #ebebeb;
}

.room .img-room{
    max-height: 240px;
    max-width: 375px
}

.room .room-header{
    font-family: 'Noto Serif','Droid Serif', serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    padding: 20px 0px;
    color: #232528;
}


.room .img-room .zoom{
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    padding: 25% 45%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.room:hover .zoom{
    -webkit-transform: scale(1);
    transform: scale(1);
}

.map-header{
    font-family: 'Noto Serif','Droid Serif', serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
    padding: 40px 0px;
    background-color: white;
    color: #232528;
}

.map{
    height: 400px;
    padding: 0;
}

