nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    overflow: hidden;
    font-family: Roboto;
    height: inherit;
    z-index: 1;
}

nav ul li {
    float: right;
}

nav ul li a:not(#logo) {
    display: inline-block;
    color: #5a5a5a;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

nav ul li a:hover:not(#active) {
    color: goldenrod;
}

nav ul li a#active {
    background-color: goldenrod;
    color:white;
    margin-right: 30px;
}

nav ul li a#logo{
    position: absolute;
    margin-left: 80px;
    padding: 0px;
}
nav ul li a#logo img{
    position: absolute;
    height: 70px;
    width: 120px;
    margin:0px;
    padding:0px;
}