.parallax-room {
    background:linear-gradient(rgba(28,28,28,.3),rgba(28,28,28,.3)),url(../img/rooms.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4em;
    font-family: 'Noto Serif', 'Droid Serif', serif;
}

.parallax-room h1 {
    color: white;
    font-size: 2em;
    text-align: left;
    font-style: italic;
}

.section{
    padding: 50px 0px;
    background-color: #ebebeb;
}

.description {
    background-color: white;
    font-family: 'Noto Serif', 'Droid Serif', serif;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 30px;
}

.description h1{
    margin-bottom: 30px;
    margin-top: 30px;
}