#img1{
    height: 100%;
    width: 100%;
    border-style: double;
    border-color: #99D3FF;
    padding: 1%;

}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
    margin: auto;
}
#title{
    vertical-align: middle;
    font-family: Courier New;
    background-color: goldenrod
}
#hab{
    padding:20px;border: solid; border-color:goldenrod ; background-color: white
}
#hab3{
     padding:20px;border: solid; border-color:goldenrod ; background-color: white
 }
#hab2{
    padding:20px;border: solid; border-color:#F2F2F2; background-color: white
}
h3{
    text-align: center ;font-family: Courier New
}