@import "nav-style.css";
@import "footer-style.css";
@import "slider-style.css";

body {
    margin: 0px;
    padding: 0px;
    background: white;
}

* {
    box-sizing: border-box;
}

.container-1 {
    height: 400px;
    width: 100%;
}

.description2{
    position: absolute;
    padding: 5%;
    width: 50%;
    height: inherit;
    background-color: white;
    color: #292c2f;
}
.description{
    position: absolute;
    padding: 0%;
    width: 100%;
    height: inherit;
    background-color: white;
    color: #292c2f;
}
.description img{
    position: absolute;
    padding: 0%;
    width: 50%;
    height:100%;
    height: inherit;
    background-color: white;
}
#description-header{
    text-align: left;
    margin:0;
    font-family: Times New Roman,serif;
    font-size: 50px;
}

#description-text{
    text-align: justify;
    font-size: 20px;
    padding: auto;
    margin-top: 5%;
}

#description-link{
    text-align: left;
    margin:0;
    font-family: Times New Roman,serif;
    text-decoration: none;
    color: #292c2f;
}

#description-link:hover{
    color: goldenrod;
}

.caracteristicas{
    position: absolute;
    right: 0;
    padding: 5%;
    width: 50%;
    height: inherit;
    background-color: #ebebeb;
    color: #292c2f;
}
.caracteristicas2{
    position: absolute;
    right: 0;
    padding: 2%;
    width: 50%;
    height: inherit;
    background-color: #ebebeb;
    color: #292c2f;
}

.list{
    list-style: none;
}

.transition-image{
    top: 0px;position: fixed;
    z-index: -1;
    width: 100%;
}

.post-transition{
    margin-top: 300px
}

.room-map-header{
    position:relative;
    font-family: SansSerif;
    font-style: italic;
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
    background-color: white;
}

.map{
    position: relative;
    height: 400px;
    width: 100%;
}

.rooms{
    position: relative;
    height: 350px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.rooms .room-header{
    text-align: center;
    font-style: italic;
    font-family: SansSerif;
}
.rooms .room{
    position: relative;
    overflow: hidden;
    width: 33.3%;
    height: 100%;
    float:left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color: #ebebeb;
}

.img-room-container{
    width: 100%;
    height: 75%;
}

.img-room-container .img-room{
    height: 100%;
    width: 100%;
}

