@import "nav-style.css";
@import "footer-style.css";
@import "slider-style.css";

body {
    margin: 0px;
    padding: 0px;
    background: white;
}

section{
    margin-top: 69px;
}

* {
    box-sizing: border-box;
}
.container-1 {
    height: 400px;
    width: 100%;
}

.description{
    position: absolute;
    padding: 5%;
    width: 50%;
    height: inherit;
    background-color: white;
    color: #292c2f;
}

#description-header{
    text-align: left;
    margin:0;
    font-family: Times New Roman,serif;
    font-size: 50px;
}

#description-text{
    text-align: justify;
    font-size: 20px;
    padding: auto;
    margin-top: 5%;
}

#description-link{
    text-align: left;
    margin:0;
    font-family: Times New Roman,serif;
    text-decoration: none;
    color: #292c2f;
}

#description-link:hover{
    color: goldenrod;
}

.caracteristicas{
    position: absolute;
    right: 0;
    padding: 5%;
    width: 50%;
    height: inherit;
    background-color: aliceblue;
    color: #292c2f;
}

.list{
    list-style: none;
}