body {
    margin: 0px;
    padding: 0px;
    background: white;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    overflow: hidden;
    font-family: Roboto;
    height: inherit;
}

nav ul li {
    float: right;
}

nav ul li a:not(#logo) {
    display: inline-block;
    color: #5a5a5a;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

nav ul li a:hover:not(#active) {
    color: goldenrod;
}

nav ul li a#active {
    background-color: goldenrod;
    color:white;
    margin-right: 30px;
}

nav ul li a#logo{
    position: absolute;
    margin-left: 80px;
    padding: 0px;
}
nav ul li a#logo img{
    position: absolute;
    height: 70px;
    width: 120px;
    margin:0px;
    padding:0px;
}

/*Slide de imagenes inicial*/
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

div.slider {
    position: relative;
    overflow: hidden;
    height: 550px;

}

div.slider figure {
    position: absolute;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 25s slidy infinite;
}

div.slider figure img {
    width: 20%;
    float: left;
    height: 550px;
}

div.container {
    height: 400px;
    position: relative;
}
div.container div#descripcion{
    position: absolute;
    width: 50%;
    height: inherit;
    background-color: white;
    text-align: center;
}

div.container div#caracteristicas{
    position: absolute;
    width: 50%;
    height: inherit;
    background-color: aliceblue;
    right: 0;
}