@media (min-width: 768px) {
    .table-row {
        display: table;
        table-layout: fixed;
    }

    .table-row [class^="col-"] {
        display: table-cell;
        float: none;
    }
}


/*Para quitar el padding y el margen por defecto de bootstrap*/
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

