.parallax-contact {
    background:linear-gradient(rgba(28,28,28,.3),rgba(28,28,28,.3)),url(../img/contact.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4em;
    font-family: 'Noto Serif', 'Droid Serif', serif;
}

.parallax-contact h1 {
    color: white;
    font-size: 2em;
    text-align: left;
    font-style: italic;
}

.map{
    height: 400px;
    padding: 0;
}

.center-align{
    font-family: 'Noto Serif','Droid Serif', serif;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
    padding: 40px 0px;
    background-color: white;
    color: #232528;
}

.section{
    padding-bottom: 50px;
}

.input-style{
    border-radius: 0
}

.noresize {
    resize: none;
}

.button {
    background-color: transparent;
    border: 1px solid goldenrod;
    border-radius: 0;
    color:goldenrod;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    color:white;
    background-color: goldenrod;
}

.button:focus {
    outline:0;
}

.form-control:focus {
    border-color: goldenrod;
    box-shadow: none;
}
