.steps{
    background-color: #ebebeb;
}

.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 1.15em;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 1em;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width:0px;
    box-shadow: none;
    background: #fbe8aa;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width:100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width:50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width:0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child  > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child  > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{
    pointer-events: none;
}
/*END Form Wizard*/
.form-group{
    margin-bottom: 0 !important;
    padding: 15px;
}
.select-room-title{
    font-family: 'Noto Serif','Droid Serif', serif;
    margin: 0px;
    padding: 10px 0px;
    background-color: white;
    color: #232528;
}

.select-room-title h1{
    font-size: 2em;
}

.section{
    padding-bottom: 30px;
}

.input-style{
    border-radius: 0
}

.noresize {
    resize: none;
}

.button {
    background-color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    color:goldenrod;
    background-color: transparent;
}

.button:focus {
    outline:0;
}

.form-control:focus {
    border-color: goldenrod;
    box-shadow: none;
}

.select-room-submit{
    padding-top: 40px;
}

.panel{
    border-radius: 0;
}

.table-room{
    padding: 0px 40px 0px 0px;
    margin: 0 !important;
}

.next{
    padding: 20px 0 20px 0;
    margin: 0 !important;
}

.next p{
    font-family:'Noto Serif','Droid Serif', serif;
    font-size:1.8em;
}

.noroom-message{
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 200px;
    padding: 70px 15px 0px 15px;
    margin-bottom: 20px;
    color: #808080;
}

.section-info{
    padding-bottom: 0px;
}

.warranty{
    font-family: 'Noto Serif','Droid Serif', serif;
    background-color: white;
    color: #232528;
    padding-bottom: 20px;
}

.warranty h4{
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
}
.select{
    margin: 0;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

#summary.col-sm-3{
    font-family: 'Noto Serif','Droid Serif', serif;
    font-size: 1.5em;
    border: 1px solid #ddd;
    padding: 20px 15px 20px 15px;
}

#selected p{
    font-size: 0.8em;
}

#summary-title{
    border-bottom: 1px solid black;
}

#total_summary{
    bottom: 0;
    position: absolute;
}

#final_summary{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Serif','Droid Serif', serif;
}

#myreserve-title{
    font-family: 'Noto Serif','Droid Serif', serif;
    margin: 0px;
    padding: 10px 0px;
    background-color: #e0e0e0;
    color: #232528;
}

#myreserve-title h1{
    font-size: 2em;
}